<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PHPChunkit Test Suite">
            <directory suffix="Test.php">./tests/PHPChunkit/Test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/PHPChunkit/</directory>
        </whitelist>
    </filter>
</phpunit>
